@import '../../styles/variables';

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid $border-color;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 12px;
  background: $white;
  color: $black;

  $icon-width: 15px;

  input {
    border: none;
    padding: 0;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    padding: 10px 8px;
    border-radius: 25px;
    flex: 1 1 auto;
    background: $white;
    color: $black;

    &.with-icon {
      flex: 0 0 calc(100% - #{$icon-width});
      width: calc(100% - #{$icon-width});
    }

    &::placeholder {
      color: rgba($black, 0.8);
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $black;
      box-shadow: 0 0 0px 1000px $white inset;
    }
  }

  &-left-icon {
    flex: 0 0 $icon-width;
    width: $icon-width;
    height: 100%;
    object-fit: contain;
  }

  .password-btn {
    border-radius: 0;
  }
}
