@import './styles/variables';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $btn-radius;
  text-decoration: none;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  min-width: $btn-min-width;
  background: $black;
  color: $white;
  border: 2px solid darken($black, 10);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: darken($black, 10);
  }

  &[disabled] {
    filter: grayscale(1);
    pointer-events: none;
  }

  &.sm {
    padding: 8px 14px;
    font-size: 14px;
    min-width: auto;
  }

  &.primary {
    color: $white;
    background-color: $main;
    border: 1px solid darken($main, 10);

    &:hover {
      background-color: darken($main, 10);
    }
  }

  &.danger {
    color: $white;
    background-color: $danger;
    border: 1px solid darken($danger, 10);

    &:hover {
      background-color: darken($danger, 10);
    }
  }
}
