$main: #49a89a;
$success: #4caf50;
$danger: #f44336;
$border-color: #e4e4e4;
$white: #fff;
$black: #3c3c3c;
$page-bg: #fff;

$btn-min-width: 80px;
$btn-radius: 25px;

$grid-padding: 15px;

$bp-xs: 480px;
$bp-sm: 767px;
$bp-md: 991px;
$lg-lg: 1199px;
