$primary: #ee4e5a;
$main: #49a89a;
$success: #4caf50;
$danger: #f44336;
$border-color: #e4e4e4;
$white: #fff;
$black: #3c3c3c;
$page-bg: #fff;

$btn-min-width: 80px;
$btn-radius: 25px;

$grid-padding: 8px;

$grid-columns: 10;
$grid-gutter-width: $grid-padding * 2;

$grid-breakpoints: (
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);
