@import '../../styles/imports';

.home-page {
  .featured-destinations-wrapper {
    @media (min-width: screen-min-width(sm)) {
      flex: 0 0 calc(100% / 2);
      width: calc(100% / 2);
    }

    @media (min-width: screen-min-width(md)) {
      flex: 0 0 calc(100% / 3);
      width: calc(100% / 3);
    }

    @media (min-width: screen-min-width(lg)) {
      flex: 0 0 calc(100% / 6);
      width: calc(100% / 6);
    }
  }
}
